#menuhatter{
    background-image: url(images/menubackground.jpg);
    background-size: cover;
}

#menumaintext{
    text-align: center;
    margin-bottom: 420px;
}

#menu{
    text-align: center;
}

@font-face {
    font-family: "BBFont";
    src: url("font/Augusta.ttf");
}

body{
    font-family: "BBFont",sans-serif;
    font-size: 50px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}